.Left-Header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    cursor: pointer;
  }
  
  .header-container {
    background-color: rgb(75, 51, 97);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .right_header {
    cursor: pointer;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .right_header > div {
    margin-right: 20px;
    font-size: 16px; 
  }
  
  @media (max-width: 768px) {
    .Left-Header {
      display: none; 
    }
  
    .right_header {
      order: 1; 
      justify-content: center;
      flex-wrap: nowrap; 
    }
  
    .right_header > div {
      margin-right: 0;
      margin-bottom: 10px; 
      font-size: 14px; 
    }
  }

  .right_header div {
    padding: 10px;
    cursor: pointer;
  }
  
  .right_header div.active {
    background-color: #4caf50; 
    color: white; 
  }
  